PyMySQL~=0.10.0
moviepy~=1.0.3
requests~=2.25.1
wikipedia~=1.4.0
spotdl~=2.2.2
Flask~=1.1.2
rq~=1.5.1
PyDictionary~=2.0.1
googletrans~=3.0.0
pywikihow~=0.5.7
boto3~=1.17.50
redis~=3.5.3
bs4~=0.0.1
beautifulsoup4~=4.9.3
lyricsgenius~=3.0.1
pip~=21.1.2
PyYAML~=5.3.1
pika~=1.1.0
twilio~=6.44.2
youtube-dl